<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="VGSoftware.CodePad.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="VGSoftware.CodePad.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <userSettings>
        <VGSoftware.CodePad.Properties.Settings>
            <setting name="ClearOutputDirectoryOnExit" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="WindowState" serializeAs="String">
                <value>Normal</value>
            </setting>
            <setting name="WindowSize" serializeAs="String">
                <value>0, 0</value>
            </setting>
            <setting name="WindowLocation" serializeAs="String">
                <value>0, 0</value>
            </setting>
            <setting name="AutosaveDirectory" serializeAs="String">
                <value>./Autosave</value>
            </setting>
            <setting name="RedirectInputOutputError" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="TemplateListView_View" serializeAs="String">
                <value>LargeIcon</value>
            </setting>
            <setting name="ShowNewFileDialog" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="DefaultTemplateFile" serializeAs="String">
                <value />
            </setting>
        </VGSoftware.CodePad.Properties.Settings>
    </userSettings>
    <applicationSettings>
        <VGSoftware.CodePad.Properties.Settings>
            <setting name="TemplateDirectory" serializeAs="String">
                <value>./Templates</value>
            </setting>
        </VGSoftware.CodePad.Properties.Settings>
    </applicationSettings>
</configuration>