<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="VGSoftware.Sharp.CodePad.Controls.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <userSettings>
        <VGSoftware.Sharp.CodePad.Controls.Properties.Settings>
            <setting name="TextEditor_HighlightSelectedLine" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="TextEditor_ShowTabs" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="TextEditor_ShowSpaces" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="TextEditor_ShowEndOfLine" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="TextEditor_ShowLineNumbers" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="TextEditor_TabSize" serializeAs="String">
                <value>4</value>
            </setting>
            <setting name="TextEditor_KeepTabs" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="TextEditor_IndentStyle" serializeAs="String">
                <value>Auto</value>
            </setting>
        </VGSoftware.Sharp.CodePad.Controls.Properties.Settings>
    </userSettings>
</configuration>